cssutils==0.9.7
dj-database-url==0.4.1
Django==1.10.1
docutils==0.11
Fabric==0.9.0
-e git://github.com/mattbasta/fastchardet@44797382f49883d5ccb10643c570f5df7c900759#egg=fastchardet
gaiatest==0.21.5
gunicorn==19.6.0
ManifestDestiny==0.6
marionette-client==0.7.3
mercurial==2.6.1
mock==1.0b1
mozcrash==0.11
mozdevice==0.33
mozfile==1.1
mozhttpd==0.7
mozinfo==0.7
mozlog==1.5
moznetwork==0.24
mozprocess==0.18
mozprofile==0.20
mozrunner==5.34
moztest==0.3
ndg-httpsclient==0.3.2
nose==1.0.0
psycopg2==2.6.2
pyasn1==0.1.7
pyOpenSSL==0.13.1
requests==2.0.0
simplejson==2.3.0
stevedore==0.15
vboxapi==1.0
virtualenv==15.0.3
virtualenv-clone==0.2.5
virtualenvwrapper==4.3
whitenoise==3.2.2
yoctopuce==1.1.12553
