{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.last_name }}, {{ author.first_name }}</h1>

  <p>{{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death }} {% endif %}</p> 

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
    <li>
    
      <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.pk }})<br>
      {{ book.summary }}

    </li>
    {% endfor %}
  </div>
{% endblock %}